{% extends "index.html" %}
{% block body %}
 <!-- About section one-->
 <section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://appassets.mvtdev.com/map/188/st/2967/37849185.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Ubicación</h2>
                <p class="lead fw-normal text-muted mb-0">Estamos ubicados en El Rosario de Desamparados</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://static4.depositphotos.com/1012627/287/i/600/depositphotos_2870181-stock-photo-contact-signs.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Información de contacto</h2>
                <p class="lead fw-normal text-muted mb-0">Pueden encontrarnos por medio de telefonía móvil con los siguientes números: 6123-2297 o al correo: electricitydyd@gmail.com</p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
