{% extends "index.html" %}
{% block body %}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder my-0">Comparte tu consulta</h1>
                <p class="lead fw-normal text-muted mb-0">No omitas ningun detalle</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="alert alert-danger d-none" id="alert">
                        Campos obligatorios no suministrados (*)
                    </div>
                    <form action="">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." required/>
                            <label for="name">Nombre completo *</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="9999"/>
                            <label for="phone">Número de telefono *</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text"
                                placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                            <label for="message">Mensaje *</label>
                        </div>
                        <div class="mb-3 d-block">
                            <a role="link" aria-disabled="true" id="submit" class="btn btn-primary btn-lg w-100">Enviar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact cards-->
        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i>
                </div>
                <div class="h5 mb-2">Envianos un correo</div>
                <p class="text-muted mb-0">electricitydyd@gmail.com</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i>
                </div>
                <div class="h5">Llamanos</div>
                <p class="text-muted mb-0">Horario de antención L-V de 8:00am a 5:00pm 6123-2297</p>
            </div>
        </div>
    </div>
</section>

<script>
    const mailto = document.querySelector("a#submit");
    const form = document.forms[0];
    const alert_div = document.querySelector("#alert");

    mailto.addEventListener("click", function(ev) {
        name = form["name"].value;
        phone = form["phone"].value;
        message = form["message"].value;
        if(name == "" ||  phone == "" || message == "") {
            alert_div.classList.remove("d-none");
            alert_div.classList.add("d-block");
            setTimeout(() => {
                alert_div.classList.remove("d-block");
                alert_div.classList.add("d-none")
            }, 7000);
            return false;
        }
        const subject = `Consulta realizada por: ${name}`;
        const body = `${form["message"].value}`;
        const mail_msg = `mailto:electricitydyd@gmail.com?subject=${subject}&body=${encodeURIComponent(body)}`;
        mailto.href = mail_msg;
    })
</script>
{% endblock body %}